In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
datetime.now()

datetime.datetime(2023, 11, 1, 3, 32, 13, 746414)

In [3]:
date = datetime(2012,12,19,10,33)

In [4]:
date.minute

33

# Pandas TimeStamp

In [5]:
pd.Timestamp.now()

Timestamp('2023-11-01 03:32:16.159861')

In [6]:
pd_time = pd.Timestamp('2000-12-19')

In [7]:
pd_time

Timestamp('2000-12-19 00:00:00')

In [8]:
pd_time = pd.Timestamp('4:07')

In [9]:
pd_time

Timestamp('2023-11-01 04:07:00')

# Time Delta to create difference in timeStamp

In [10]:
date = pd.Timestamp('2014-12-15')

In [11]:
next_day = pd.Timedelta(days= 1)

In [12]:
tomorrow = date + next_day
tomorrow

Timestamp('2014-12-16 00:00:00')

In [13]:
# Increase 1 month of the date
new = pd.Timestamp(2015,12,25)
after_one_Month = new + pd.Timedelta(weeks = 1)
after_one_Month

Timestamp('2016-01-01 00:00:00')

In [14]:
date + next_day

Timestamp('2014-12-16 00:00:00')

# DateTime Indexes

In [15]:
date = [datetime(2022,10,12),datetime(2022,10,13)]

In [16]:
data = pd.Series(np.random.randn(2), date)
data

2022-10-12   -1.018940
2022-10-13   -0.757186
dtype: float64

In [17]:
data.index

DatetimeIndex(['2022-10-12', '2022-10-13'], dtype='datetime64[ns]', freq=None)

In [18]:
data.values

array([-1.01893988, -0.75718644])

In [19]:
data = ['Aug 1,2023','2023-10-12','2023-10-14',None]

In [20]:
pdi = pd.to_datetime(data)
pdi

DatetimeIndex(['2023-08-01', '2023-10-12', '2023-10-14', 'NaT'], dtype='datetime64[ns]', freq=None)

In [21]:
for i in pdi:
    print(i)

2023-08-01 00:00:00
2023-10-12 00:00:00
2023-10-14 00:00:00
NaT

# Date Range

In [22]:
a1 = pd.date_range('2023-01-19' , periods= 14, freq='Q')
np.random.seed(123)
da1 = pd.Series(np.random.randn(14) ,a1)
da1

2023-03-31   -1.085631
2023-06-30    0.997345
2023-09-30    0.282978
2023-12-31   -1.506295
2024-03-31   -0.578600
2024-06-30    1.651437
2024-09-30   -2.426679
2024-12-31   -0.428913
2025-03-31    1.265936
2025-06-30   -0.866740
2025-09-30   -0.678886
2025-12-31   -0.094709
2026-03-31    1.491390
2026-06-30   -0.638902
Freq: Q-DEC, dtype: float64

In [23]:
np.random.seed(2324)
range1 = pd.Series(np.random.randn(730),pd.date_range('2013-01-01','2014-12-31'))
range1

2013-01-01    1.720824
2013-01-02   -1.607905
2013-01-03    0.827183
2013-01-04   -0.038750
2013-01-05   -0.386477
                ...
2014-12-27   -0.317300
2014-12-28   -1.653178
2014-12-29    0.189082
2014-12-30    0.530491
2014-12-31   -1.158662
Freq: D, Length: 730, dtype: float64

In [24]:
range1['2013-01']

2013-01-01    1.720824
2013-01-02   -1.607905
2013-01-03    0.827183
2013-01-04   -0.038750
2013-01-05   -0.386477
2013-01-06   -0.477680
2013-01-07   -0.279588
2013-01-08    1.317506
2013-01-09    0.025077
2013-01-10    0.784792
2013-01-11    0.583386
2013-01-12   -1.430608
2013-01-13    0.652940
2013-01-14    0.321303
2013-01-15    0.580514
2013-01-16    1.490102
2013-01-17    0.164230
2013-01-18    0.553097
2013-01-19    1.516649
2013-01-20    0.921561
2013-01-21   -1.094490
2013-01-22    1.225618
2013-01-23   -0.353450
2013-01-24   -0.222918
2013-01-25    0.769683
2013-01-26   -0.167556
2013-01-27    0.586962
2013-01-28    1.414687
2013-01-29    0.694763
2013-01-30   -0.293057
2013-01-31    0.013076
Freq: D, dtype: float64

# Time Series with data Specific Value

In [25]:
np.random.seed(341252)
s1 = pd.Series(np.random.randn(90*24*60), pd.date_range('2023-08-01','2023-10-29 23:59', freq= 'T'))
s1

2023-08-01 00:00:00   -0.680723
2023-08-01 00:01:00    0.114191
2023-08-01 00:02:00   -0.032711
2023-08-01 00:03:00   -0.121254
2023-08-01 00:04:00   -0.313663
                         ...
2023-10-29 23:55:00    0.240683
2023-10-29 23:56:00   -0.795238
2023-10-29 23:57:00   -0.721322
2023-10-29 23:58:00    0.429380
2023-10-29 23:59:00   -0.896054
Freq: T, Length: 129600, dtype: float64

In [26]:
s1['2023-08-01 00:10': '2023-08-01 00:19']

2023-08-01 00:10:00   -0.762064
2023-08-01 00:11:00   -0.056887
2023-08-01 00:12:00   -0.489751
2023-08-01 00:13:00    0.914934
2023-08-01 00:14:00   -0.583698
2023-08-01 00:15:00   -0.526595
2023-08-01 00:16:00   -0.283907
2023-08-01 00:17:00   -0.709891
2023-08-01 00:18:00    0.594622
2023-08-01 00:19:00   -0.500305
Freq: T, dtype: float64

In [7]:
dates = pd.date_range("2000-02-18","2023-11-1", freq= 'D')
dates

DatetimeIndex(['2000-02-18', '2000-02-19', '2000-02-20', '2000-02-21',
               '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
               '2000-02-26', '2000-02-27',
               ...
               '2023-10-23', '2023-10-24', '2023-10-25', '2023-10-26',
               '2023-10-27', '2023-10-28', '2023-10-29', '2023-10-30',
               '2023-10-31', '2023-11-01'],
              dtype='datetime64[ns]', length=8658, freq='D')