In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
datetime(2022,2,10)

datetime.datetime(2022, 2, 10, 0, 0)

In [3]:
datetime.now()

datetime.datetime(2023, 11, 1, 18, 31, 48, 613233)

In [14]:
datetime.now().time()

datetime.time(18, 42, 35, 874654)

In [21]:
a1 = pd.Timestamp('2022-10-12 23:10')
a1

Timestamp('2022-10-12 23:10:00')

In [22]:
a1.time()

datetime.time(23, 10)

In [31]:
today = pd.Timestamp('now')
tomorrow = today + pd.Timedelta(days = 3)
tomorrow

Timestamp('2023-11-04 18:56:00.426741')

In [37]:
np.random.seed(34134)
a = [datetime(2022,10,11), datetime(2022,10,12)]
b = pd.Series(np.random.randn(2),a)
b

2022-10-11    1.780672
2022-10-12   -0.258597
dtype: float64

In [38]:
b.index

DatetimeIndex(['2022-10-11', '2022-10-12'], dtype='datetime64[ns]', freq=None)

In [47]:
ab = pd.to_datetime(['2022-1-1','2022-1-2','2022-1-3',None])
b = pd.Series(np.random.randn(4),ab)
b

2022-01-01   -0.747484
2022-01-02   -0.905925
2022-01-03    1.000852
NaT          -0.104304
dtype: float64

In [51]:
for i in ab:
    print(i)

2022-01-01 00:00:00
2022-01-02 00:00:00
2022-01-03 00:00:00
NaT

In [71]:
period = pd.date_range('2022-1-1', periods= 10)
abc = pd.Series(np.random.randn(10), period)
abc

2022-01-01   -0.557021
2022-01-02   -0.853464
2022-01-03    0.853892
2022-01-04    1.212533
2022-01-05    0.312699
2022-01-06    0.829892
2022-01-07   -0.562968
2022-01-08    0.338899
2022-01-09    0.896360
2022-01-10   -0.689030
Freq: D, dtype: float64

In [84]:
subset = abc[3:7]
subset

2022-01-04    1.212533
2022-01-05    0.312699
2022-01-06    0.829892
2022-01-07   -0.562968
Freq: D, dtype: float64

In [86]:
s2 = pd.Series([10,100,1000,10000] , subset.index)
s2

2022-01-04       10
2022-01-05      100
2022-01-06     1000
2022-01-07    10000
Freq: D, dtype: int64

In [88]:
abc+ s2

2022-01-01            NaN
2022-01-02            NaN
2022-01-03            NaN
2022-01-04      11.212533
2022-01-05     100.312699
2022-01-06    1000.829892
2022-01-07    9999.437032
2022-01-08            NaN
2022-01-09            NaN
2022-01-10            NaN
Freq: D, dtype: float64

In [90]:
a1 = pd.Series(0,pd.date_range('2013-1-1','2014-12-31'))
a1

2013-01-01    0
2013-01-02    0
2013-01-03    0
2013-01-04    0
2013-01-05    0
             ..
2014-12-27    0
2014-12-28    0
2014-12-29    0
2014-12-30    0
2014-12-31    0
Freq: D, Length: 730, dtype: int64

In [94]:
a1['2013-5':'2013-7']

2013-05-01    0
2013-05-02    0
2013-05-03    0
2013-05-04    0
2013-05-05    0
             ..
2013-07-27    0
2013-07-28    0
2013-07-29    0
2013-07-30    0
2013-07-31    0
Freq: D, Length: 92, dtype: int64

In [107]:
np.random.seed(234142)
s1 =  pd.Series(np.random.randn(90*24*60), pd.date_range('2014-08-01','2014-10-29 23:59', freq = 'T'))
s1

2014-08-01 00:00:00   -1.136956
2014-08-01 00:01:00   -0.850209
2014-08-01 00:02:00    0.495332
2014-08-01 00:03:00    0.695090
2014-08-01 00:04:00   -1.530806
                         ...
2014-10-29 23:55:00   -1.116849
2014-10-29 23:56:00    0.720041
2014-10-29 23:57:00    0.107382
2014-10-29 23:58:00   -2.160567
2014-10-29 23:59:00   -1.883565
Freq: T, Length: 129600, dtype: float64

In [105]:
s1['2014-08-1 00:5':'2014-08-01 00:10']

2014-08-01 00:05:00    1.605175
2014-08-01 00:06:00    1.137120
2014-08-01 00:07:00   -0.130351
2014-08-01 00:08:00   -0.491726
2014-08-01 00:09:00    0.432876
2014-08-01 00:10:00   -1.098468
Freq: T, dtype: float64

In [112]:
np.random.seed(234142)
s1 =  pd.Series(0, pd.date_range('2014-08-01','2014-10-29', freq = 'W'))
s1

2014-08-03    0
2014-08-10    0
2014-08-17    0
2014-08-24    0
2014-08-31    0
2014-09-07    0
2014-09-14    0
2014-09-21    0
2014-09-28    0
2014-10-05    0
2014-10-12    0
2014-10-19    0
2014-10-26    0
Freq: W-SUN, dtype: int64

In [115]:
a1 = pd.date_range('2014-8-30','2014-9-8', freq='B')

In [116]:
a1.freq

In [121]:
d = pd.Timestamp('2022-1-1')
do= pd.DateOffset(days= 1)
d + do

Timestamp('2022-01-02 00:00:00')