In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
datetime(2022,2,10)

datetime.datetime(2022, 2, 10, 0, 0)

In [3]:
datetime.now()

datetime.datetime(2023, 11, 1, 18, 31, 48, 613233)

In [14]:
datetime.now().time()

datetime.time(18, 42, 35, 874654)

In [21]:
a1 = pd.Timestamp('2022-10-12 23:10')
a1

Timestamp('2022-10-12 23:10:00')

In [22]:
a1.time()

datetime.time(23, 10)

In [31]:
today = pd.Timestamp('now')
tomorrow = today + pd.Timedelta(days = 3)
tomorrow

Timestamp('2023-11-04 18:56:00.426741')

In [37]:
np.random.seed(34134)
a = [datetime(2022,10,11), datetime(2022,10,12)]
b = pd.Series(np.random.randn(2),a)
b

2022-10-11    1.780672
2022-10-12   -0.258597
dtype: float64

In [38]:
b.index

DatetimeIndex(['2022-10-11', '2022-10-12'], dtype='datetime64[ns]', freq=None)

In [47]:
ab = pd.to_datetime(['2022-1-1','2022-1-2','2022-1-3',None])
b = pd.Series(np.random.randn(4),ab)
b

2022-01-01   -0.747484
2022-01-02   -0.905925
2022-01-03    1.000852
NaT          -0.104304
dtype: float64

In [51]:
for i in ab:
    print(i)

2022-01-01 00:00:00
2022-01-02 00:00:00
2022-01-03 00:00:00
NaT

In [71]:
period = pd.date_range('2022-1-1', periods= 10)
abc = pd.Series(np.random.randn(10), period)
abc

2022-01-01   -0.557021
2022-01-02   -0.853464
2022-01-03    0.853892
2022-01-04    1.212533
2022-01-05    0.312699
2022-01-06    0.829892
2022-01-07   -0.562968
2022-01-08    0.338899
2022-01-09    0.896360
2022-01-10   -0.689030
Freq: D, dtype: float64

In [78]:
subset = abc[3:7]
subset

2022-01-04    1.212533
2022-01-05    0.312699
2022-01-06    0.829892
2022-01-07   -0.562968
Freq: D, dtype: float64